#accountMenus{
    display: flex;
    justify-content: center;
}

#accountMenus input{
    width: 350px;
    height: 30px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    border-radius: 50px;
    border: 1px solid #ccc;
    padding: 6px 14px;
    font-size: 20px;
}

#accountMenus input:focus{
    outline: 3px solid var(--tertiary-color-blue);
    outline-offset: 2px;
}

#accountMenus input.error:focus{
    outline: 3px solid rgb(255, 64, 61) !important;
}

#accountMenus h2{
    font-size: 36px;
    font-weight: 600;
    color: var(--main-text-color);
    margin-bottom: 40px;
    margin-bottom: 50px;
    text-align: center;
}

#signupButton, #loginButton{
    width: 140px;
    height: 60px;
    font-size: 24px;
    background-color: white;
    color: var(--main-text-color);
    border: none;
    border-radius: 40px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    cursor: pointer;
    margin-left: 20px;
    transition: 0.4s ease;
}

#createAccountButton, #gotAccountButton, #signOutButton{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 24px;
    background-color: white;
    color: var(--main-text-color);
    border: none;
    border-radius: 40px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    cursor: pointer;
    margin-left: 20px;
    transition: 0.4s ease;
}


#signupButton:hover, #loginButton:hover, #createAccountButton:hover, #gotAccountButton:hover, #signOutButton:hover{
    background-color: rgb(240, 240, 240);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.account-div{
    display: flex;
    align-items: center;
    gap: 20px;
}

.account-inputs-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.account-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20vh;
    padding: 50px 50px;
    border-radius: 40px;
    border: 1px solid black;
    box-shadow: 0 8px 25px rgba(0,0,0,0.1);
    background-color: var(--tertiary-color-sand);
}

#loggedInMenu h2{
    width: 400px;
}

#messageBox{
    margin-top: 20px;
}

#messageP{
    font-size: 20px;
}
#messageP.error{
    color: rgb(255, 64, 61);
}
#messageP.success{
    color: rgb(0, 134, 22);
}

@media (max-width: 600px){

    .account-div{
        flex-direction: column;
    }

    #accountMenus input{
        width: min(350px, 70vw);
        height: 30px;
    }

    #accountMenus button{
        width: min(200px, 40vw);
        min-width: 100px;
        height: 60px;
        font-size: 28px;
        border-radius: 40px;
        margin-left: 0px;
    }

    #backToHomepage a{
        width: min(180px, 70vw);
        margin-right: 20px;
    }

    #signUpMenu{
        margin-top: 5vh;
    }

    #logInMenu{
        margin-top: 5vh;
    }

    #loggedInMenu{
        margin-top: 10vh;
    }

    #loggedInMenu h2{
        width: min(400px, 80vw);
    }
}