:root{
    --main-color: #fffddd;
    --secondary-color: rgba(255, 252, 235, 0.95);
    --main-text-color: #171717;
    --secondary-text-color: #fffce1;
    --hover-text-color: #000000da;

    --main-font: Arial, Helvetica, sans-serif;
    --secondary-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body{
    position: relative;
    font-family: var(--main-font);
    padding: 0;
    margin: 0;
}

.scrolled .navbar-border{
    width: 80px;
    background-size: 80%;
}

.scrolled .navbar{
    width: 50px;
}

.scrolled .navbar-logo{
    position: relative;
    right: 6px;
}

.navbar-container{
    position: sticky;
    top: 30px;
    display: flex;
    justify-content: center;
    height: 0px;
    z-index: 2000;
    scale: 1.2;
}

.navbar-border{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/seamless-pattern-of-scottish-tartan-plaid-repeatable-background-with-check-fabric-texture-backdrop-striped-textile-print-vector.jpg);
    background-size: 15%;
    border-radius: 100px;
    width: 610px;
    height: 75px;
}

.navbar{
    padding-left: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 580px;
    height: 65px;
    border-radius: 100px;
    background-color: var(--secondary-color);
    overflow: hidden;
}

.navbar-border, .navbar {
    transition: width 0.8s ease, height 0.5s ease;
}

.navbar-logo{
    height: 60px;
}

.navbar-logo img{
    height: 100%;
}

.navbar-list{
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
    font-size: 18px;
    white-space: nowrap;
}

.navbar-list li a{
    padding-bottom: 2px;
    color: var(--main-text-color);
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: 0.4s ease;
}

.navbar-list li a:hover{
    color: var(--hover-text-color);
    border-bottom: 2px solid var(--hover-text-color);
}



#homeImage{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(../img/home-image.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 40%;
    color: var(--secondary-text-color);
    font-family: var(--secondary-font);
    z-index: 1;
}

#homeImage::before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2));
}

#homeTextContainer{
    position: absolute;
    left: 5%;
    bottom: 10%;
}

#homeTitle{
    margin: 0;
    font-size: 120px;
}

#exploreLink{
    padding-left: 20px;
    text-decoration: none;
    color: var(--secondary-text-color);
    font-size: 30px;
}

#exploreLink:hover{
    text-decoration: underline;
}


#dashboard{
    height: 100vh;
    width: 100vw;
}