#mapSection{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 95vh;
    padding: 140px 20px 0px 20px;
    background-image: linear-gradient(225deg, white, var(--tertiary-color-blue));
}

#mapSection h1{
    font-size: 60px;
    margin-bottom: 50px;
    text-align: center;
}

#mapSection p{
    max-width: 700px;
    font-size: 24px;
    margin-bottom: 50px;
    text-align: center;
}

#map{
    border: 1px solid black;
    border-radius: 20px;
    max-width: 1200px;
    box-shadow: 8px 12px rgba(128, 128, 128, 0.2);
}

.delete-pin{
    margin-top: 10px;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: rgb(220, 220, 220);
    cursor: pointer;
    transition: 0.2s ease;
}

.delete-pin:hover{
    background-color: rgb(200, 200, 200);
}

.delete-pin:active{
    background-color: rgb(180, 180, 180);
}

#leaderboardContainer{
    display: flex;
    gap: 100px;
    margin-top: 50px;
}

.leaderboard-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 200px;
    height: 260px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 4px 6px rgba(128, 128, 128, 0.2);
}

.leaderboard-card h1{
    margin: 0 !important;
}

.leaderboard-card p{
    margin: 0 !important;
}